
/*Overriding FlexBox grid*/

.row {
    margin: 0;
}

/*Custom styling*/

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    color: #222;
}

small {
    font-size: 15px
}

p, ul, li {
    line-height: 1.75;
}

a {
    color: darkcyan;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: darkslategray;
}

h1 {
    font-size: 46px;
}

h1, h3 {
    margin: 1rem;
    font-weight: 300;
}

.title {
    text-align: center;
}

.image {
    text-align: center;
}

.designed-by {
    text-align: center;
}

::-moz-selection { /* Code for Firefox */
    background: lightgray;
}

::selection {
    background: lightgray;
}