
.title {
    text-align: center;
}

.image {
    text-align: center;
}

.designed-by {
    text-align: center;
}

/*@media (max-width:991px) {
    .image {
        text-align: center;
    }
}

@media (min-width:992px) {
    .image {
        text-align: right;
    }
}*/